node-red-flow-basic.json
[
  {
    "id": "2a7fb39b6cd84f33",
    "type": "tab",
    "label": "flathead-basic-api",
    "disabled": false,
    "info": "Basic demo API for flathead frontend"
  },
  {
    "id": "9fca4f78f0f84663",
    "type": "http in",
    "z": "2a7fb39b6cd84f33",
    "name": "GET /api/sensors/latest",
    "url": "/api/sensors/latest",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 120,
    "wires": [["6e5933b9bb6f427a"]]
  },
  {
    "id": "6e5933b9bb6f427a",
    "type": "function",
    "z": "2a7fb39b6cd84f33",
    "name": "build latest payload",
    "func": "const now = Date.now();\nconst t = Math.round((18 + Math.random() * 8) * 10) / 10;\nconst h = Math.round((40 + Math.random() * 35) * 10) / 10;\nmsg.payload = {\n  temperature: { outside: t, inside: 22.1 },\n  humidity: { outside: h, inside: 45.2 },\n  heading: { deg: 211, cardinal: 'SW' },\n  distanceCm: 86,\n  timestamp: now\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 120,
    "wires": [["f95cb8f66a9f4c95"]]
  },
  {
    "id": "f95cb8f66a9f4c95",
    "type": "http response",
    "z": "2a7fb39b6cd84f33",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 120,
    "wires": []
  },
  {
    "id": "077970108f5f4efe",
    "type": "http in",
    "z": "2a7fb39b6cd84f33",
    "name": "GET /api/sensors/history",
    "url": "/api/sensors/history",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 200,
    "wires": [["4dc7f07eaf4b4c25"]]
  },
  {
    "id": "4dc7f07eaf4b4c25",
    "type": "function",
    "z": "2a7fb39b6cd84f33",
    "name": "build history payload",
    "func": "const now = Date.now();\nconst list = [];\nfor (let i = 11; i >= 0; i -= 1) {\n  const ts = now - i * 60000;\n  list.push({\n    temperature: { outside: Math.round((16 + Math.random() * 10) * 10) / 10, inside: 22.1 },\n    humidity: { outside: Math.round((35 + Math.random() * 40) * 10) / 10, inside: 45.2 },\n    timestamp: ts\n  });\n}\nmsg.payload = list;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 200,
    "wires": [["28a883b2fd4b4293"]]
  },
  {
    "id": "28a883b2fd4b4293",
    "type": "http response",
    "z": "2a7fb39b6cd84f33",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 200,
    "wires": []
  },
  {
    "id": "ea77dc302cd94ac3",
    "type": "http in",
    "z": "2a7fb39b6cd84f33",
    "name": "GET /api/location/latest",
    "url": "/api/location/latest",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 280,
    "wires": [["f0794e0c3f944296"]]
  },
  {
    "id": "f0794e0c3f944296",
    "type": "function",
    "z": "2a7fb39b6cd84f33",
    "name": "build location payload",
    "func": "msg.payload = {\n  lat: 48.2082,\n  lng: 16.3738,\n  accuracyM: 9,\n  source: 'GPS + LoRa',\n  timestamp: Date.now()\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 280,
    "wires": [["34baa2ea6ea94320"]]
  },
  {
    "id": "34baa2ea6ea94320",
    "type": "http response",
    "z": "2a7fb39b6cd84f33",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 280,
    "wires": []
  }
]
